// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: $base0;
}

#background {
	background: $base00;
}

td img {
	display: block;
}

.flickr-gallery {
	margin-bottom: 1em;
	ul li {
		list-style: none;
		display: inline-block;
		margin: 0 .5em .5em 0;
	}
	ul {
		margin-bottom: .5em;
	}

}
.flickr-gallery-right {
	float: right;
	
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
	background: none;
	border: none;
}

.pager .page {
	$borderRadius : 4px;
	margin: 4px;
	padding: 4px;
	-moz-border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    border-radius: $borderRadius;
    background: $base2;
    cursor: pointer;
}

.map-marker-overlay {
	img {
		float: right;
		margin: .5em;
	}
	padding: .5em;
}

.flickr-map-photo-set-wrap {
	.flickr-map-photo-set {
		position: relative;
		margin-bottom: 1em;
		overflow: visible;
	}
	.carousel-wrap {
		position: relative;
		.next, .prev {
			position: absolute;
			top: 0;
			line-height:100px;
			height: 100px;
			width: 40px;
			cursor: pointer;
		}
		.next { 
			text-align: right;
			right: 0;
		}
		.prev {
			text-align: left;
			left: 0;
		}
		.carousel {
			margin: 0 0 1em 30px;
		}
	}
}
