// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: $base0;
}

#background {
	background: $base00;
}

td img {
	display: block;
}

.flickr-gallery {
	margin-bottom: 1em;
	ul li {
		list-style: none;
		display: inline-block;
		margin: 0 .5em .5em 0;
	}
	ul {
		margin-bottom: .5em;
	}

}
.flickr-gallery-right {
	float: right;
	
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
	background: none;
	border: none;
}

.pager .page {
	$borderRadius : 4px;
	margin: 4px;
	padding: 4px;
	-moz-border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    border-radius: $borderRadius;
    background: $base2;
    cursor: pointer;
}

.overlay {
	div div div div div div div, div div div div div div, div div div div div, div div div, div div, div{
		overflow-x: hidden;
		overflow-y: hidden;
	}
	img {
		float: right;
		margin: .5em;
	}
	padding: .5em;
}